@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Questrial', Georgia, 'Times New Roman', Times, serif;
    background-color: #51abb2;
}

#secao-canto {
    background-color: #f0dfc8;
    margin-left: 90%;
    font-size: 21px;
    padding: 20px;
    border-radius: 10px;
    height: 193px;
    margin-top: -15%;
}

#secao-canto a {
    margin-top: 7px;
    text-decoration: none;
    color: #000000;
    margin: 5px;
}

#secao-canto a:hover,
#estrela:hover {
    cursor: pointer;
    font-size: 22px;
    height: 33px;
    text-decoration: underline #000000;
    transition: 0.4s;
    color: #51abb2;
}

#logo {
    width: 200px;
    margin: 20px;
}

#logo-footer {
    width: 200px;
    align-items: center;
    margin-left: 45%;
}

#estrela {
    height: 30px;
}

footer {
    margin-bottom: -4%;
    margin-top: 45%;
}

#boas-vindas {
    color: #ffb1a5;
    font-size: 30px;
}

#banner-sorvetes {
    width: 30%;

}

#inicio {
    margin-left: 40%;
    margin-top: -40%;
    text-align: justify;
}

#texto-inicial {
    text-align: justify;
    font-size: 25px;
    width: 70%;
}

#anuncio-sorvetes {
    margin: 10%;
    margin-top: 25%;
}

#experimente-h2 {
    width: 380px;
    font-size: 60px;
    margin-bottom: -25%;
}

#saudavel-h2 {
    width: 380px;
    font-size: 60px;
    margin-top: -25%;
    text-align: right;
    margin-left: 65%;
}

#milk-shakes-sabores {
    margin-left: 33%;
}

#picole-fruta {
    margin-right: 23%;
}

#anuncio-sorvetes img {
    border-radius: 10px;
    margin-right: 15px;
    margin-bottom: 20px;
    width: 380px;
    height: 380px;
    object-fit: cover;
}


/*produto.html */
#menu {
    background-color: #f0dfc8;
    margin: 100px;
    padding: 40px;
    border-radius: 20px;
}

p {
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

#titu-main {
    font-size: 23px;
    text-align: center;
    padding: 10px;
}

#titulo-menu {
    font-size: 44px;
    text-align: center;
    padding: 10px;
}

/*carrossel*/
nav a {
    margin: 0 1rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

  section {
    padding: 2rem;
  }

 #produtos h2 {
    color: #f06;
    margin-bottom: 1rem;
  }

  #carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    overflow: hidden;
  }

  #carousel-container {
    display: flex;
    transition: transform 0.5s ease;
    gap: 1rem;
  }

  #carousel-container img {
    width: 60%;
    height: auto;
    border-radius: 8px;
  }

  #carousel button {
    background-color: #f06;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
  }


/*unidades.html*/
#mapa {
    border-radius: 10px;
    margin-left: 30%;

}